@using ProyectoSaberPro.Models
@{
    ViewBag.Title = "Login";
}
@ViewBag.Message
@model LoginViewModel

    <center>
        <div class="card">
            <div class="row">
                <div class="col-md-12">
                    <section>
                        <from asp-controller="Home" asp-action="Index" method="post">
                            <h4>Iniciar Sesi&oacute;n</h4>
                            <br />
                            <div class="nav nav-tabs">
                                <div class="form-group">
                                    <a class="nav-link" href="#GoogleDocente">Docente</a>
                                </div>
                                <div class="from-group">
                                    <a class="nav-link" href="#GoogleEstudiante">Estudiante</a>
                                </div>
                                <br />
                                <div class="form-group">
                                    <icon type="submit" class="btn btn-lg btn-outline-dark">@Html.ActionLink("Administrador", "Login")</icon>
                                </div>
                            </div>
                            <div class="tab-content" id="myTabContent">
                                <div class="tab-pane fade show active" id="GoogleDocente" role="tabpanel" aria-labelledby="home-tab">Btn Google docente</div>
                                <div class="tab-pane fade" id="GoogleEstudiante" role="tabpanel" aria-labelledby="profile-tab">Btn Google alumno</div>
                            </div>

                        </from>
                    </section>
                    <label id="IndexMessage" class="has-error"></label>
                </div>
            </div>
        </div>
    </center>
