@using ProyectoSaberPro.Models
@model LoginViewModel
@{
    ViewBag.Title = "Home Page";
}

<div>
    <div class="col-md-4">
        <section id="socialLoginForm">
            @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
        </section>
    </div>
</div>
