@using ProyectoSaberPro.Models
@{
    ViewBag.Title = "Login";
}
@ViewBag.Message
@model LoginViewModel
<head>
    <meta charset="utf-8">
    <style>

        html {
            height: 95%;
            width: 100%;
        }

        body {
            background: #FFFFFF url('../../Pictures/logo-udi-web.png') no-repeat bottom center;
            background-size: 20% 20%;
        }
    </style>
</head>
<center>
    <div class="card">
        <div class="row">
            <div class="col-md-12">
                <section>
                    <from asp-controller="Home" asp-action="Index" method="post">
                        <h3>Iniciar Sesi&oacute;n</h3>
                        <br />
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Docente
                            </button>
                            <div class="dropdown-menu">
                                <section id="socialLoginForm">
                                    @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
                                </section>
                            </div>
                        </div>
                        <br /><br />
                        <div class="btn-group">
                            <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Estudiante
                            </button>
                            <div class="dropdown-menu">
                                <section id="socialLoginForm">
                                    @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
                                </section>
                            </div>
                        </div>
                        <br /><br />
                        <div class="btn-group">
                            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Administrador
                            </button>
                            <div class="dropdown-menu">
                                <section id="socialLoginForm">
                                    <center>
                                        @Html.ActionLink("Iniciar sesión", "Login", "Account", new { @class = "btn btn-default" })
                                    </center>
                                </section>
                            </div>

                        </div>

                    </from>
                </section>
                <label id="IndexMessage" class="has-error"></label>
            </div>
        </div>
    </div>
</center>