@using ProyectoSaberPro.Models
@{
    ViewBag.Title = "Login";
}
@ViewBag.Message
@model LoginViewModel

<center>
    <div class="card">
        <div class="row">
            <div class="col-md-12">
                <section>
                    <from asp-controller="Home" asp-action="Index" method="post">
                        <h4>Iniciar Sesi&oacute;n</h4>
                        <br />
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Docentes
                            </button>
                            <div class="dropdown-menu">
                                <section id="socialLoginForm">
                                    @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
                                </section>
                            </div>
                        </div>
                        <br /><br />
                        <div class="btn-group">
                            <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Estudiantes
                            </button>
                            <div class="dropdown-menu">
                                <section id="socialLoginForm">
                                    @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
                                </section>
                            </div>
                        </div>
                        <br /><br />
                        <div class="btn-group">
                            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Administrador
                            </button>
                            <div class="dropdown-menu">
                                <section id="socialLoginForm">
                                    @Html.ActionLink("Registrarse", "Login")
                                </section>
                            </div>

                        </div>

                    </from>
                </section>
                <label id="IndexMessage" class="has-error"></label>
            </div>
        </div>
    </div>
</center>