@model IEnumerable<ProyectoSaberPro.Models.Docente>
@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "Indice";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Editar Información", "Edit", new { id = User.Identity.GetUserId() })
</p>


Página de inicio del Docente