
@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "Indice";
    Layout = "~/Views/Shared/_LayoutDocente.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Editar Información", "Edit", new { email = User.Identity.GetUserName() })
</p>


<h3>Bienvenido, docente</h3>