@model ProyectoSaberPro.Models.Administrador

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutAdministrador.cshtml";
}

<div class="margen">
    <h2>Delete</h2>

    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>Administrador</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Correo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Correo)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="boton alternativo" />  &nbsp; &nbsp; &nbsp;
                @Html.ActionLink("Volver a la lista", "Index", "Administrador", new { @class = "btn btn-primary" })
            </div>
        }
    </div>
</div>
<style>
    .margen {
        margin: 15px 100px 5px 100px;
        text-align: justify;
    }

    .dl-horizontal{
        margin: 15px 0px 30px 0px;
    }

    .boton.alternativo {
        background-color: transparent;
        color: #810808;
        border: 2px solid #810808;
        border-radius: 6px;
        width: 90px;
        height: 34px
    }

        .boton.alternativo:hover {
            background-color: #810808;
            color: #FFFFFF;
            text-decoration: none;
        }
</style>