@model IEnumerable<ProyectoSaberPro.Models.Alumno>
@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "Alumno";
    Layout = "~/Views/Shared/_LayoutAlumno.cshtml";
}

<h2>Inicio</h2>

<p>
    @Html.ActionLink("Editar Información", "Edit", new { email = User.Identity.GetUserName() });
</p>

Bienvenido, alumno
