@model IEnumerable<ProyectoSaberPro.Models.Alumno>
@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "Alumno";
}

<h2>Inicio</h2>

<p>
    @Html.ActionLink("Editar Información", "Edit", new { id = User.Identity.GetUserName() });
</p>

Página de inicio del estudiante
